<section>
    <div>
        <div class="services-header scroll-animate">
            <h1>Unsere Leistungen</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aut, incidunt consectetur iure ducimus explicabo debitis facere officia! Consequatur ullam soluta animi aliquid deleniti id quasi officia illo ab sit?
        </p>
        </div>
        <div class="services-img">
            <div class="service-item scroll-animate">
                <img src="../../../assets/img/beton.jpg" alt="">
                <div class="service-text">
                    <h3>Betonarbeiten</h3>  
                    <p>Professionelle Betonarbeiten für Ihr Bauprojekt.</p>
                </div>
            </div>
            <div class="service-item scroll-animate scroll-animate-delay">
                <img src="../../../assets/img/maurer.jpg" alt="">
                <div class="service-text">
                    <h3>Maurerarbeiten</h3>
                    <p>Fachgerechte Maurerarbeiten in höchster Qualität.</p>
                </div>
            </div>
            <div class="service-item scroll-animate scroll-animate-delay-2">
                <img src="../../../assets/img/rohr.jpg" alt="">
                <div class="service-text">
                    <h3>Rohrleitungen</h3>
                    <p>Installation und Wartung von Rohrleitungssystemen.</p>
                </div>
            </div>
            <div class="service-item scroll-animate scroll-animate-delay-3">
                <img src="../../../assets/img/abriss.jpg" alt="">
                <div class="service-text">
                    <h3>Abrissarbeiten</h3>
                    <p>Sichere und effiziente Abrissarbeiten.</p>
                </div>
            </div>
        </div>
    </div>
</section>
