section {
    color: black;
    padding: 4rem 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
    }

    .services-header {
        display: flex;
        flex-direction: column;
        text-align: left;
        max-width: 1920px;

        h1 {
            font-size: 5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.25rem;
            max-width: 800px;
        }
    }


    .services-img {
        margin-top: 2rem;
        display: flex;
        gap: 9rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1920px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .service-item {
            position: relative;
            width: calc(25% - 6.75rem);
            overflow: hidden;
            cursor: pointer;

            @media (max-width: 1024px) {
                width: calc(50% - 0.5rem);
            }

            @media (max-width: 640px) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 36rem;
                object-fit: cover;
                transition: transform 0.3s ease;
                display: block;
            }

            .service-text {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(128, 0, 50, 0.95);
                color: white;
                padding: 2rem;
                transform: translateY(100%);
                transition: transform 0.3s ease;

                h3 {
                    font-size: 1.8rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 1rem;
                    margin: 0;
                }
            }

            &:hover {
                img {
                    transform: scale(1.1);
                    filter: brightness(0.5);
                    transition: all 0.3s ease;
                    
                }

                .service-text {
                    transform: translateY(0);
                }
            }

            @media (max-width: 1024px) {
                img {
                    height: 250px;
                }
            }

            @media (max-width: 640px) {
                img {
                    height: 200px;
                }
            }
        }
    }
}