<footer>
    <div class="footer-content">
        <img src="../../../assets/img/Transparent LOGO6.svg" alt="TV Bauunternehmen Logo">
        
        <div class="footer-links">
            <a href="#home">Home</a>
            <a href="#about">Über Uns</a>
            <a href="#services">Leistungen</a>
            <a href="#contact">Kontakt</a>
        </div>
        
        <div class="footer-info">
            <p>&copy; 2024 TV Bauunternehmen. Alle Rechte vorbehalten.</p>
        </div>
    </div>
</footer>
