footer {
   background-color: #800032;
   height: 160px;
   width: 100%;
   box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   
   @media (max-width: 968px) {
      height: 120px;
   }

    .footer-content {
         max-width: 1920px;
         margin: 0 auto;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: space-around;
         position: relative;
         padding: 0 1rem;

         img {
              height: 10rem;
              filter: brightness(0) invert(1);
              
              @media (max-width: 968px) {
                height: 6rem;
              }
         }
    
         a {
              text-decoration: none;
              font-size: 26px;
              color: white;
              font-weight: bold;
              padding: 0 15px;
              transition: opacity 0.2s ease;
              
              @media (max-width: 968px) {
                display: none;
              }
              
              @media (max-width: 1200px) {
                font-size: 20px;
                padding: 0 10px;
              }
    
              &:hover {
                opacity: 0.8;
              }
         }
    }
}